all_data/tmQM/neutral_tmQM.db filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/tmQM.db filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/tmQM_centered.extxyz filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/tmQM_combined_notcentered.extxyz filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/neutral_tmqm_elec_e.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/neutral_tmqm_elec_e_reference_corrected.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/tmqm_elec_e.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM/tmqm_elec_e_reference_corrected.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/neutral_tmQM_rev.db filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/tmQM_rev.db filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/tmQM_rev.traj filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/tmqm_rev_elec_e.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/tmqm_rev_elec_e_reference_corrected.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/neutral_tmqm_rev_elec_e.lmdb filter=lfs diff=lfs merge=lfs -text
all_data/tmQM_rev/neutral_tmqm_rev_elec_e_reference_corrected.lmdb filter=lfs diff=lfs merge=lfs -text
chemiscope_files/tmqm_gemnet_evpredictions.json.gz filter=lfs diff=lfs merge=lfs -text
chemiscope_files/tmqm_rev_gemnet_evpredictions.json.gz filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM/80-gemnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM/80-painn.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM/80-schnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM/80-spinconv.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_neutral/80-gemnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_neutral/80-painn.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_neutral/80-schnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_neutral/80-spinconv.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev/80-painn.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev/80-schnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev/80-spinconv.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev/80-gemnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev_neutral/80-gemnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev_neutral/80-painn.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev_neutral/80-schnet.pt filter=lfs diff=lfs merge=lfs -text
trained_checkpoints/tmQM_rev_neutral/80-spinconv.pt filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/80-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/20-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/20-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/20-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/40-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/40-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/60-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/60-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/40-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/60-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/80-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM/80-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/40-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/40-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/40-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/60-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/60-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/20-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/20-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/20-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/60-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/80-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/80-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_neutral/80-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/60-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/60-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/60-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/80-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/20-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/20-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/20-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/40-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/40-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/40-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/80-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev/80-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/80-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/80-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/20-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/40-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/60-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/60-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/60-val.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/20-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/20-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/40-test.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/40-train.lmdb filter=lfs diff=lfs merge=lfs -text
training_data/tmQM_rev_neutral/80-test.lmdb filter=lfs diff=lfs merge=lfs -text
